asgiref==3.2.5
autopep8==1.5.1
Django==3.0.4
django-crispy-forms==1.9.0
django-filter==2.2.0
django-postgres-copy==2.4.2
django-rest-framework==0.1.0
djangorestframework==3.11.0
numpy==1.18.2
pandas==1.0.3
Pillow==7.0.0
psycopg2==2.8.5
pycodestyle==2.5.0
python-dateutil==2.8.1
pytz==2019.3
rope==0.16.0
six==1.14.0
sqlparse==0.3.1
ua-parser==0.10.0
user-agents==2.1
